!!!5
html
  head
    title #{title} OWASP Mantra-OS
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    link(rel='stylesheet', href='./views/style.css')
    link(rel='stylesheet', href='./views/coin-slider.css')
    script(src="./views/js/script.js")
    script(src="./views/js/coin-slider.min.js")
    script(src="./views/js/cufon-chunkfive.js")
    script(src="./views/js/cufon-yui.js")
  body
    header
      h1 OWASP Mantra-OS
    .container
           button#pseudoSet Download
        <a src="http://sourceforge.net/projects/mantraos/files/"></a>
    .main-content
          div#Entry            
         div#searchResults
        block content
      .sidebar
        block sidebar
        div#content
    footer
      p 